/* App.css */

/* Style for the logo */
h1 {
  text-align: center;
  color: #4caf50; /* Change to your preferred color */
  font-family: "Arial", sans-serif;
  margin-top: 20px;
}

/* Style for the form */
form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}

form span {
  margin-right: 10px;
}

form select,
form input[type="text"],
form button {
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
}

form select {
  width: 120px;
}

form button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}

/* Style for the packing list */
ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 10px;
  width: 500px;
}

li {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

li input[type="checkbox"] {
  margin-right: 10px;
}

/* Style for the stats */
footer {
  text-align: center;
  font-size: 100px;
  padding: 10px;
  font-size: 14px;
  color: #666;
  margin-top: 60vh; /* Pushes the footer to the bottom */
  background-color: #f1f1f1; /* Optional: background color for the footer */
}

footer p {
  font-size: 20px;
  font-weight: bold;
}
